body {
	font-family: Roboto, Verdana;
}

a:focus, a:hover {
	border-bottom: none;
	/*opacity: 0.6;*/
}

img {
	width: 2em;
	vertical-align: middle;
}

.relate_to.selected,
.relate_to.selected:hover {
	border: 1px solid #5af;
}

.top-bar {
	padding: 1em;
	color: #777;
	text-shadow: 1px 1px 0 #ddd;
}

.top-left-button {
	min-width: 2em;
}

.navigation {
	position: fixed;
	top: 3em;
	bottom: 0;
	left: -20em;
	width: 18em;
	padding: 1em;
	background: #eee;
	z-index: 2;
	transition: all 0.5s;
}

.navigation h2 {
	margin: 0;
}

.navigation.active {
	left: 0;
	box-shadow: 0 0 1em #777;
}

.navigation-toggler {
	position: fixed;
	top: 3em;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
	transition: left 0.5s, background-color 0.5s;
}

.navigation-toggler.active {
	left: 20em;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	transition: left 0.5s, background-color 0.5s;
}

.bar {
	padding-top: 3em;
	position: relative;
	color: #eee;
	background: #555;
	box-shadow: 0 0em 1em #777;
}

.modal .window .body {
	margin-top: 0;
}

.modal .amount {
	margin-top: 1em;
}

.modal .bar {
	padding-top: 0em;
	box-shadow: none;
	background: none;
}

.modal .attributes a {
	color: #777;
}

.attributes button {
	margin: 0 0.5em;
	padding: 0.5em;
	border: 1px solid transparent;
}

.modal .name {
	width: 100%;
}

#modal-npc .name {
	width: 70%;
}

#modal-npc .add-xp {
	margin-left: 0.5em;
	padding: 0.5em;

}

.modal .setter {
	color: #777;
}

.attribute {
	float: left;
	width: 20%;
	color: #333;
	padding: 0.5em 0;
}

.attribute a {
	color: #eee;
}

.attribute img {
	display: inline-block;
}

.attribute.active {
	border-radius: .25em;
	/*box-shadow: inset 0 0 0.75em #333;*/
	/*box-shadow: 0 -0.2em .3em #333;*/
	background-color: #ddd;
}

#modal-item .attribute.active {
	/*box-shadow: 0 -0.2em .3em #bbb;*/
	background-color: #eee;
}

.item-list {
	height: 80%;
}

.item-list.hidden {
	display: block;
	visibility: visible;
	height: 1em;
	transition: all 1s;
}

.attribute .max {
	color: #999;
}

.attribute:nth-child(5) .bonus {
	display: none;
}

.attributes {
	position: relative;
	padding: 1em 0;
	text-align: center;
}

.attr {
    min-width: 4em;
    display: inline-block;
}


.xp {
	float: right;
	margin: 0.5em 0;
	vertical-align: middle;
}
.xp span {
	font-size: 1.5em;
	vertical-align: middle;
}

.add-xp {
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 0.2em 0.5em 0.8em;
	vertical-align: middle;
	border-radius: 1em;
	text-align: center;
	background-color: #888;
	color: #eee;
	box-shadow: 0 0.1em 0.3em #aaa;
	transition: all 0.25s;
}

.add-xp:hover {
	background-color: #999;
	box-shadow: 0 0.2em 0.4em #aaa;
	transform: scale(1.1);
}

.add-attr-button {
	position: absolute;
	bottom: 0.5em;
	right: -1.5em;
	height: 1em;
	width: 1em;
	padding: 0.5em;
	text-align: center;
	border-radius: 1em;
	line-height: 1em;
	font-size: 2em;
	color: #f0f0f0;
	background-color: #5af;
	box-shadow: 0 0.25em 0.25em #999;
	transition: all 0.3s 0.2s;
}

.add-attr-button.hidden {
	display: block;
	visibility: visible;
	bottom: 15em;
}

.flash {
	-webkit-animation: flash 1s;
}
@-webkit-keyframes flash {
	0% {color: inherit; transform: scale(1);}
	20% {color: #fff; transform: scale(1.1);}
	100% {color: inherit; transform: scale(1);}
}

.bounce {
	position: relative;
}

.bounce.lft {
	animation: bounce_l 0.3s;
}

.bounce.rgt {
	animation: bounce_r 0.3s;
}

@-webkit-keyframes bounce_l {
	0% {right: 0;}
	50% {right: 3em;}
	100% {right: 0;}
}

@-webkit-keyframes bounce_r {
	0% {right: 0;}
	50% {right: -3em;}
	100% {right: 0;}
}

.setter {
	position: relative;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #ddd;
	text-align: left;
	z-index: 2;
}

.setter.hidden {
	visibility: visible;
	display: block;
}

.setter-range {
	height: 1em;
	padding: 1em 0;
	overflow: hidden;
	font-size: 2em;
	transition: all 0.5s;
}

.setter.hidden .setter-range {
	height: 0;
	padding: 0;
}

#modal-item .attribute {
	width: 25%;
}

/* item checkbox label */
#modal-item label {
	min-width: 0;
}

#modal-talent .body {
	overflow-x: hidden;
}

#modal-dice .window {
	background: #777;
	color: #eee;
}

#modal-talent .attributes .disabled {
	background: #eaa;
}

#modal-dice img {
	width: 4em;
}

#modal-dice .h2 {
	font-size: 0;
	transition: all 0.25s;
	transform-origin: middle;
}

#modal-dice .h2.pop {
	font-size: 1.8em;
	color: #eee;
}

#modal-offers .amount .slider,
.setter .slider {
	width: 60%;
}

.offer-to {
	list-style-type: none;
}

.offer-to li {
	margin: 1em 0;
	font-size: 2em;
}

.tab li .name {
	float: left;
	min-width: 20%;
	max-width: 85%;
	font-size: 1.8em;
	height: 1.2em;
	line-height: 1.2em;
	color: #aaa;
	overflow: hidden;
}

.tab li.active .name {
	height: auto;
}

.items .group,
.items .amount {
	display: inline-block;
	float: left;
	margin-right: 0.5em;
}

.items .amount-value {
	position: absolute;
	top: 0;
	left: 2em;
	min-width: 1.2em;
	height: 1.2em;
	background: #999;
	border-radius: 0.7em;
	color: #fff;
	line-height: 1.4em;
	text-align: center;
	padding: 0.1em;
}

.skills .difficulty {
	display: inline-block;
	min-width: 0.8em;
	height: 0.8em;
	margin: 0 0.25em 0 0;
	padding: 0.1em;
	background: #999;
	border-radius: 0.7em;
	color: #fff;
	line-height: 0.8em;
	text-align: center;
	font-size: 1em;
}

.talents .group,
.skills .group,
.talents .amount,
.skills .amount {
	display: none;
}

#modal-offers .group img,
.items .group img {
	width: 1em;
}

.tab li .actions {
	position: absolute;
	top: -4em;
	right: 0.25em;
	font-size: 2em;
	background: #fff;
	box-shadow: -0.5em 0 0.5em #fff;
	transition: all 0.5s;
}

#character .tab li.active .actions,
#game .tab li.active .actions {
	top: 0.25em;
}

.tab h2 {
	position: absolute;
	margin-top: 0;
	color: transparent;
	font-size: 5em;
	text-shadow: 0 0 0.1em #ddd;
	z-index: -1;
}

.tab li {
	position: relative;
	max-height: 2em;
	line-height: 2em;
	padding: 0.5em 1em 0.5em 0.5em;
	margin: 0.5em 0;
	border-left: 0.5em solid transparent;
	overflow: hidden;
	list-style-type: none;
	transition: all 0.5s;
}

.npcs .attribute {
	display: inline-block;
	float: none;
}

.npc-group-npcs li {
	max-height: initial;
}


.npc-group  .npc-name {
	display: none;
	font-size: 1.8em;
	margin: 0;
	padding: 0 0.2em;
}

.npc-group.active .name {
	display: none;
}

.npc-group.active .npc-name {
	display: block;
}

.npc-group .npc-group_npc .name {
	display: block;
}

.npc-group-list {
	margin-top: 0.5em;
	font-size: 1.5em;
	list-style-type: none;
}

.npc-group-list li {
	margin: 0.5em 0;
}

#character .tab li.active,
#game .tab li.active {
	max-height: 999em;
	box-shadow: 0 0em 1em #aaa;
	background: #fff;
}

.items li.equipped {
	padding-left: 0.5em;
	border-left-color: #5af;
}


.items .attribute-values {
	display: block;
	text-align: center;
}

.talents .attribute-values,
.skills .attribute-values {
	display: none;
}

.settings .actions a {
	font-size: 0.5em;
}


.main label {
	min-width: auto;
	width: auto;
}

.main .text-block {
	margin-bottom: 1em;
}

.main .text-block:last-child {
	margin-bottom: 0;
}

.items .attribute-values img {
	width: 1.5em;
}

.items li.selected a {
	color: #ff5300;
}

#game .items .amount-value,
#game .items .amount {
	display: none;
}

.item-actions {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.attribute-values .group:first-child {
	margin-left: 2.5em;
}

.attribute-value {
	float: left;
	margin-right: 2em;
	color: #777;
}

.details {
	margin-top: 0.3em;
}

.number {
	width: 4em;
}

.num-value {
	width: 23%;
}

#character {
	min-width: 320px;
}


.tab .guild-member .name {
	float: none;
	display: block;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	padding: 0 0.5em;
	color: #eee;
	line-height: 2em;
	font-size: 1.5em;
	background: #555;
	box-shadow: none;
	z-index: 2;
}
.menu img {
	width: 1em;
}

.menu .back {
	position: relative;
	margin-top: 0.5em;
}

.menu .user {
	vertical-align: top;
	font-size: 0.7em;
}

.menu .dropdown ul {
	max-height: 0;
	margin: 0.4em -1em 0 0;
	border: none;
	border-radius: 0 0 0.5em 0.5em;
	overflow: hidden;
}

.menu .dropdown:hover ul {
	border: none;
}

.menu .dice-result {
	font-weight: bold;
}

.menu a {
	display: inline-block;
	color: #eee;
	margin-left: 0.5em;
	padding: 0.4em 0;
}

.menu ul {
	background: #eee;
}
.menu li {
	margin: 0;
}

.menu .dropdown {
	position: relative;
}

.menu .dropdown ul {
	position: absolute;
	max-height: 0;
	top: 1.2em;
	right: 0.5em;
	background: #eee;
	transition: all 0.5s;
}

.menu .dropdown:hover ul {
	max-height: 10em;
	box-shadow: 0 0.25em 0.25em #aaa;
}

.menu .dropdown li a {
	display: inline-block;
	margin: 0;
	padding: 1em;
	text-align: center;
	color: #333;
}


.button.add {
	position: relative;
	width: 100%;
	text-align: center;
	height: 3em;
	line-height: 2em;
	font-size: 1.5em;
	box-sizing: border-box;
	transition: all 0.25s;
}

.tab-wrapper {
	position: relative;
	height: auto;
	margin: 2em auto 4em;
	overflow: hidden;
}

.tab-wrapper > input {
	display: none;
}

.tabs.one {left: 0;}
.tabs.two {left: -100%;}
.tabs.three {left: -200%;}
.tabs.four {left: -300%;}
.tabs.five {left: -400%;}
.tabs.six {left: -500%;}

.tabs {
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.5s;
}

#character .tabs {
	width: 500%;
}

#game .tabs {
	width: 600%;
}

.tab {
	position: relative;
	float: left;
	min-height: 78%;
	max-height: 78%;
	padding: 0 0.5%;
	/*overflow-x: hidden;*/
}

#character .tab {
	width: 19%;
}

#game .tab {
	width: 15.66%;
}


#game .tab .name {
	float: none;
}

#character .adventure .attributes {
	display: none;
}


.pager {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 1em;
	height: 100%;
	z-index: 1;
}

.pager.r {
	left: auto;
	right: 0;
}


.tabs.one .tab:nth-child(1),
.tabs.two .tab:nth-child(2),
.tabs.three .tab:nth-child(3),
.tabs.four .tab:nth-child(4),
.tabs.five .tab:nth-child(5),
.tabs.six .tab:nth-child(6) {max-height: initial; border: none;}


.app {
	min-height: 85%;
}

.tab-nav {
	margin-top: 2em;
}

.tab-nav li {
	list-style-type: none;
	margin-left: 0.5em;
}

.tab-nav a {
	display: block;
	width: auto;
	padding: 0.5em 0;
	color: #777;
}

.tab-nav a.active {
	font-weight: bold;
}

.tab-nav li:last-child {
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid #ddd;
}


.loading-bar {
	position: fixed;
	top: -10%;
	width: 100%;
	height: 60%;
	text-align: center;
	background: #eee;
	z-index: 5;
	transition: all 1s, overflow 1s 1s;
}

.loading-bar i {
	position: absolute;
	font-size: 4em;
	bottom: -0.5em;
	margin-left: -0.5em;
}

.loading-bar.bottom {
	top: auto;
	bottom: 0;
	z-index: 4;
}

.loading-bar.loaded {
	height: 0;
}



/*
CHARACTERS
*/

#main-menu {
	width: 80%;
	margin: 0 auto;
}

#main-menu .main-menu-actions {
    position: absolute;
    top: 2.5em;
    right: 10%;
    font-size: 1.5em;
}

.main-menu-actions a {
	color: #aaa;
	margin-left: 0.5em;
}

#main-menu ul {
	margin-top: 1em;
	color: #333;
}

#main-menu li {
	list-style-type: none;
	line-height: 2em;
	margin: 0 0 0.2em 0;
	background-color: #f0f0f0;
	padding: 0.5em;
	min-height: 5em;
	transition: all 0.25s;
}

#main-menu li:hover,
.button.add:hover {
	transform: scale(1.01);
	background-color: #f7f7f7;
	box-shadow: 0 0.2em 0.3em #aaa;
}

.list-icon {
	font-size: 4em;
	text-align: center;
	color: #888;
	margin-top: 1em;
}

.lookup {
	display: block;
}

.lookup i {
    font-size: 2em;
}

.lookup .name {
    font-size: 2em;
    vertical-align: baseline;
    color: #555;
    text-shadow: -1px -1px 0 #f9f9f9;
}

@media screen and (min-width: 800px) {
	#character .tab {
		width: 9%;
		border-left: 1px solid #eee;
	}

	#game .tab {
		width: 7.33%;
		border-left: 1px solid #eee;
	}

	.tabs.one .tab:nth-child(1),
	.tabs.one .tab:nth-child(2),
	.tabs.two .tab:nth-child(2),
	.tabs.two .tab:nth-child(3),
	.tabs.three .tab:nth-child(3),
	.tabs.three .tab:nth-child(4),
	.tabs.four .tab:nth-child(4),
	.tabs.four .tab:nth-child(5),
	.tabs.five .tab:nth-child(5),
	.tabs.five .tab:nth-child(6),
	.tabs.six .tab:nth-child(6) {max-height: initial; border: none;}


	.tab:first-child {
		border-left: none;
	}

	.tabs.one {left: 0;}
	.tabs.two {left: -50%;}
	.tabs.three {left: -100%;}
	.tabs.four {left: -150%;}
	.tabs.five {left: -200%;}
	.tabs.six {left: -250%;}

	#characters, #games {
		float: left;
		width: 49%;
	}
	#games {
		float: right;
	}

	/*.main-data {
		float: left;
		width: 49%;
		margin: 0 0.5%;
		padding: 1.5em 0 0;
	}

	#character .attributes {
		float: right;
		width: 49%;
		margin: 0 0.5%;
	}*/
}

@media screen and (max-width: 480px) {
	.attribute span {
		font-size: 0.8em;
	}

	#main-menu .lookup {
		float: none;
	}

	#main-menu .description {
		float: none;
		width: 65%;
	}
}