a:hover, a:focus {
	border: none;
}

.top-bar {
	position: fixed;
	width: 96%;
	height: 3em;
	padding: 1em;
	line-height: 3em;
	background: #fff;
	z-index: 4;
}

.top-bar .right a {
	color: inherit;
}

.back-button {
	padding: 0.5em;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.back-button:hover {
	border: none;
	-webkit-transform: rotateY(360deg);
}

/*
	--V-- LOADBOX
*/
.loadbox {
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;
	background: #fff;
	/*opacity: 0.9;*/
	transition: all 2s ease 0s;
	z-index: 4;
}

.loadbox-top {
	top: 0;

}

.loadbox-bottom {
	bottom: 0;
}

.loadbox-top.loaded, 
.loadbox-bottom.loaded {
	height: 0;
	box-shadow: 0 0 1em #000;
}

/*
	--A-- LOADBOX
*/


/*
	--V-- CHARACTER
*/

.character {
	position: relative;
	width: 60%;
	margin:0  auto 0;
	overflow: hidden;
}

@media screen and (max-width: 640px) {
	.character {
		width: 100%;
		margin: 0;
	}
}

.character-box {
	padding: 0.5em;
}

.character-box .avatar {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
	border-radius: 1.5em;
	background: #eee;
}

/*
	--A-- CHARACTER
*/


/*
	--V-- MAIN WRAPPER
*/

.main-wrapper {
	position: relative;
}

/*
	--A-- MAIN WRAPPER
*/

/*
	--V-- TABS
*/

.tab-wrapper {
	position: relative;
	width: 100%;
	margin-top: 0.75em;
	overflow: hidden;
}

input.tab-controller {
	display: none;
}

#tab-notes:checked ~ .tab-block {
	left: 0;
}

#tab-inventory:checked ~ .tab-block {
	left: -100%;
}

#tab-talents:checked ~ .tab-block {
	left: -200%;
}

#tab-skills:checked ~ .tab-block {
	left: -300%;
}

#tab-settings:checked ~ .tab-block {
	left: -400%;
}

.tab-content {
	float: left;
	width: 19%;
	padding: 0 .5%;
}

.tab-block {
	position: relative;
	left: 0;
	width: 500%;
	min-height: 100vh;
	padding: 0;
	overflow: hidden;
	transition: all 1s;
}

.tabs {
	position: fixed;
	background: #eee;
	top: initial;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.tabs label {
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 0;
	margin: 0;
	padding: 0.25em .5em;
	font-size: 2.5em;
	text-align: center;
	color: #eee;
	border: none;
}

.tabs label:hover, .tabs .active, .tabs label:active {
	background: #fff;
	box-shadow: 0 0 0.5em #333;
	color: #777;
}



.right-tabs {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	overflow: visible;
}

.right-tabs input[type="radio"] {
	display: none;
}

.right-tabs input[type="radio"]:checked ~ .content {
	display: block;
	width: 50px;
	background: #eee;
}

.right-tabs label {
	position: relative;
	left: -2em;
}


/*
	--A-- TABS
*/

/*
	--V-- ATTRIBUTE
*/

.attributes {
	position: relative;
	min-height: 1.5em;
	overflow: hidden;
	/*background: #eee;*/
	z-index: 3;
	transition: all 0.5s;
	box-shadow: 0 0.2em 0.2em #aaa;
}

.attributes-main {
	position: relative;
	display: block;
	height: 0;
	overflow: hidden;
	transition: all 0.5s;
	/*transition-delay: 1s;*/
}

.attributes-puller {
	text-align: center;
	transition: all 0.5s;
	transition-delay: .5s;
}

.attributes-bar {
	display: block;
	height: 1em;
	font-size: 1em;
	/*padding-top: .5em;*/
	vertical-align: baseline;
}
.attributes-bar img {
	vertical-align: baseline;
}
.attributes-bar span {
	margin-right: .5em;
}
.attributes-bar span:last-child {
	margin-right: 0;
}


.attributes.active .attributes-main {
	bottom: 0;
	height: 30em;
	transition: all 0.5s;
	transition-delay: 0.25s;
}

.attributes.active .attributes-puller {
	transform: rotateX(180deg);
}

.attribute {
	margin: 1em 0 1em;
	padding: 1em 0;
	box-shadow: 0 0 0.5em #eee;
}
.attribute:first-child {
	box-shadow: 0 0.125em 0.125em #eee;
}
.attribute:nth-child(5) {
	box-shadow: 0 -0.125em 0.125em #eee;
}


.attribute img {
	vertical-align: bottom;
	margin: 0 1em;
}

.attribute .attribute-value {

}

.attribute .attribute-range {
	width: 60%;
}

.attribute .attribute-bonus {

}


/*
	--A-- ATTRIBUTES
*/

/*
	--V-- TALENTS
*/
.talent {
	position: relative;
}

.talent-group h4 img {
	vertical-align: bottom;
}

.talent-text {
	position: relative;
	left: 0;
	padding: 0.5em;
	background: #fff;
	z-index: 1;
	transition: all 0.3s;
}

.talent-actions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5em;
	line-height: 1.5em;
	background: #eee;
	box-shadow: inset 0.2em 0.2em 0.5em #aaa;
}

.talent-actions a {
	font-size: 1.5em;
	padding: 0 0.2em;
}

.talent-actions a:hover,
.talent-actions a:target,
.talent-actions a:focus {
	text-shadow: 0 0 0.3em #5af;
}

.talent:hover .talent-text {
	left: 8em;
	box-shadow: 0 0 0.5em #777;
	z-index: 2;
}

.talent-relation {
	display: inline-block;
	border-radius: 2em;
}

.talent-relation.selected {
	box-shadow: 0 0 1em #5af;
}
/*
	--A-- TALENTS
*/


/*
	--V-- SKILLS
*/

.skill,
.item {
	padding: 1em;
}

.skill-name,
.item-name {
	position: relative;
	font-size: 1.4em;
	overflow: hidden;
	box-shadow: none;
}

.skill-description,
.item-detail {
	overflow: hidden;
	height: 0;
	transition: all 0.5s;
}

.skill-actions,
.item-actions {
	position: absolute;
	top: -1.5em;
	right: 0;
	transition: all 0.75s;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px #fff;
	padding: 0 0 0 .5em;
}

.skill.active,
.item.active,
.skill:hover,
.item:hover {
	box-shadow: 0 0 0.5em #999;
}

.skill.active .skill-description,
.item.active .item-detail {
	height: 5em;
}

.skill.active .skill-actions,
.item.active .item-actions {
	top: 0;
}

.skill a:hover,
.item a:hover {
	text-decoration: none;
}

/*
	--A-- SKILLS
*/

/*
	--V-- ITEMS
*/
.item .button-group {
	margin-left: 1em;
}

.item.equipped {
	border-left: 1em solid #eee;
}

.item-name img {
	vertical-align: middle;
}

.item-editor {
	/*background: #eee;
	padding: 2%;
	box-shadow: inset 0 -0.2em 0.5em #aaa;
	width: 96%;*/
}

.numval-attr {
	position: relative;
	width: 20%;
	margin-right: 5%;
}

.numval-attr:last-child {
	margin-right: 0;
}

.numval-attr img {
	vertical-align: middle;
}

.valuelist-wrapper {
	position: absolute;
	background: #fff;
	padding: 1em;
	top: -50%;
	left: 100%;
	box-shadow: 0 0 0.5em #aaa;
}

/*
	--A-- ITEMS
*/


.simple-modal-content .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: right;
	background: #f0f0f0;
}


/*
	--V-- ADD button
*/
.add {
	display: block;
	position: fixed;
	right: 2em;
	bottom: 3em;
	height: 1em;
	width: 1em;
	padding: 2em;
	border-radius: 3em;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 .5em #999;
	z-index: 4;
	transition: all 0.5s;
}

.add:hover {
	text-decoration: none;
	border-bottom: none;
	transform: scale(1.1);
}
/*
	--A-- ADD button
*/


/*
	--V-- DICE modal
*/

#dice {
	position: fixed;
	right: 0;
	top: 20%;
	bottom: 20%;
	width: auto;
	background: #ddd;
	overflow: visible;
	z-index: 4;
}
.content {
	width: 0;
	overflow: hidden;
}

.content.active {
	width: auto;
	box-shadow: 0 0 0.5em #aaa;
}

#dice .drawer {
	position: absolute;
	top: 45%;
	font-size: 2em;
	border-radius: 1em 0 0 1em;
	height: 1em;
	width: 1em;
	text-align: center;
	vertical-align: middle;
	padding: .5em;
	left: -2em;
	opacity: 0.3;
	transition: all 0.5s;
}
#dice .drawer:hover {
	opacity: 1;
	text-decoration: none;
	border: none;
}

/*
	--A-- DICE modal
*/

/*
	--V-- GROUP modal
*/

#group {
	position: fixed;
	left: auto;
	right: 100%;
	top: 20%;
	bottom: 20%;
	background: #ddd;
	overflow: visible;
	z-index: 2;
}
#group.active {
	right: auto;
	left: 0;
}

#group .drawer {
	position: absolute;
	top: 45%;
	font-size: 2em;
	border-radius: 0 1em 1em 0;
	height: 1em;
	width: 1em;
	text-align: center;
	vertical-align: middle;
	padding: .5em;
	right: -2em;
	opacity: 0.3;
	transition: all 0.5s;
}
#group .drawer:hover {
	opacity: 1;
	text-decoration: none;
	border: none;
}


/*
	--A-- GROUP modal
*/

@keyframes show {
	0% {
		display: block;
		opacity: 0;
		height: 0;
	}

	100% {
		display: block;
		opacity: 1;
		height: 100%;
	}
}

@keyframes hide {
	0% {
		display: block;
		opacity: 1;
		height: 100%;
	}

	99% {
		display: block;
	}

	100% {
		display: none;
		opacity: 0;
		height: 0;
	}
}