/*------------------------------
	author:	Marek J. Kolcun
	version: 1.0.5
	latest update: 2015-08-16
------------------------------*/

/*------------------------------
	GLOBAL STYLES
------------------------------*/

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, Helvetica, Verdana;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;
	vertical-align: middle;
	color: #555;
}

main {
	min-height: 85%;
}

footer {
	position: relative; 
	bottom: 0; 
	height: 5%;
	width: 100%; 
	margin: 2em auto 0; 
	padding: 1em 0;
	text-align: center;
}

/*------------------------------
	ANCHORS
------------------------------*/

a {
	text-decoration: none; 
	color: #5af; 
	-webkit-transition: color 0.2s, border 0.2s; 
	-moz-transition: color 0.2s, border 0.2s; 
	-ms-transition: color 0.2s, border 0.2s; 
	-o-transition: color 0.2s, border 0.2s; 
	transition: color 0.2s, border 0.2s;
}

a:hover, a:focus {
	border-bottom: 1px solid #555;
}

/*------------------------------
	HEADERS
------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 
{color: #7E827A; margin: 1em 0 0;}
h1, .h1 {line-height: 2em; font-size: 2em; margin-bottom: 0.2em;}
h2, .h2 {line-height: 1.8em; font-size: 1.8em;}
h3, .h3 {line-height: 1.6em; font-size: 1.6em;}
h4, .h4 {line-height: 1.4em; font-size: 1.4em;}
h5, .h5 {line-height: 1.2em; font-size: 1.2em;}
h6, .h6 {line-height: 1em; font-size: 1em;}

/*------------------------------
	MENU
------------------------------*/

/*.menu {
	position: relative;
	width: 100%; 
	height: 3em; 
	background: #eee; 
	box-shadow: 1px 0 3px #aaa;
	padding: 0;
	margin: 0;
}
.menu ul {
	display: block; 
	height: 100%;
	margin: 0; 
	padding: 0; 
}
.menu li {
	display: block; 
	height: 100%; 
	float: left;
	list-style-type: none; 
}
.menu li a {
	display: inline-block; 
	font-size: 1em; 
	padding: 0 1em;
	line-height: 3em;
	color: #777; 
	background: transparent; 
	text-shadow: none; 
	-webkit-transition: color 0.15s;
	-moz-transition: color 0.15s;
	-ms-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
	border-left: 1px solid #ddd;
}
.menu li a:hover {
	color: #555;
	text-decoration: none;
}

.menu .dropdown:before {
	display: block;
	position:relative;
	float:right;
	top: 1.5em;
	right: 0.5em;
	clear:both;
	width: 0;
	content: "";
	border: 5px solid transparent;
	border-top: 5px solid #aaa;
}
.menu .dropdown ul {
	height: 0%; 
	background: transparent; 
	overflow: hidden; 
	position: relative;
}

.menu .dropdown:hover > a {
	border-bottom: none;
}

.menu .dropdown:hover ul {
	height: auto; 
	box-shadow: 0 3px 5px #aaa;
	border-top: 1px solid #555;
}
.menu .dropdown li {
	display: block; 
	float: none;
}
.menu .dropdown li a {
	border: none; 
 	padding: 7px 25px 5px;
}
.menu .dropdown li a:hover {
	background: #eee;
}
.menu .brand {
	margin: 0 0 0 20px; 
	padding: 0; 
	border: none;
}*/


/*------------------------------
	MODALS
------------------------------*/

.modal {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	height: 0;
	background: rgba(255, 255, 255, 0.8); 
	opacity: 0;
	text-align: center;
	-webkit-transition:all0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 20;
}

.modal:target,
.modal.active {
	height: 100%;
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.modal .window {
	position: fixed;
	display: none;
	width: 60%;
	max-height: 80%;
	min-height: 1em; 
	margin: 0 auto;
	background: #fff; 
	border: #555; 
	box-shadow: 0 0 10px #333;
	overflow: auto;
	box-sizing: border-box;
}

.modal:target .window,
.modal.active .window {
	display: inline-block;
	margin: 5% 0 0 -30%;
}

.modal .window .body {
	width: auto;
	margin: 2.5em 0;
	padding: 1em;
	text-align: left;
}
.modal .window .header, 
.modal .window .footer {
	position: absolute;
	width: 100%;
	min-height: 2.5em;
	text-align: center;
}
.modal .window .header {
	top: 0;
	font-weight: bold;
}
.modal .window .footer {
	bottom: 0;
}
.modal .window .close {
	position: absolute;
	top:0;
	right:0;
	display: inline-block;
	padding: 0em 0.5em;
}

.modal .button, .modal .button:hover, .modal .button:target, .modal .button:active, .modal .button:visited {
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
}

/*------------------------------
	TOOLTIPS
------------------------------*/
.has-tooltip {
	position: relative;
}

.has-tooltip[data-tooltip]:before {
	position: absolute;
	display: inline-block;
	top: 100%;
	left: 0;
	min-width: 48%;
	max-width: 98%;
	height: 0;
	padding: 0;
	line-height: 1.3em;
	color: #eee;
	background: #333;
	overflow: hidden;
	box-shadow: 0 0.1em 0.2em #333;
	border-radius: 0.2em;
	content: attr(data-tooltip);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
}

.has-tooltip[data-tooltip]:after {
	position: absolute;
	bottom: 0;
	left: 10%;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #333;
	border-width: 0;
	content: "";
}

.has-tooltip[data-tooltip]:hover:before {
	overflow: visible;
	height: auto;
	padding: 0.5em 1%;
	z-index: 1;
}

.has-tooltip[data-tooltip]:hover:after {
	border-width: 0.5em
}

/*------------------------------
	FORMS
------------------------------*/

input, select, textarea {
	display: inline-block;
	height: auto; 
	padding: 0.5em;
	border: none; 
	border-bottom: 1px solid #aaa;
	margin: 0.5em 0; 
	color: #aaa;
	background: transparent;
	font-family: Helvetica, Verdana;
	outline: none;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

textarea {
	min-height: 5em;
	resize: none;
	vertical-align: middle;
}

input[type="checkbox"] {
	display: inline;
	vertical-align: middle;
}

input[type="radio"] {
	display: inline;
	vertical-align: middle;
	margin: 0.5em 0;
}

input[type="range"] {
	vertical-align: middle;
	border: none;
	padding: 0.5em 0;
	height: 1em;
	
}
input[type="range"]:hover {
	margin-bottom: 0.5em;
	box-shadow: none;
	border: none;
}

input[type="radio"]:hover, input[type="checkbox"]:hover {
	box-shadow: none;
	margin: 0.4em 0;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

input:hover, textarea:hover {
	box-shadow: 0 0 3px #aaa;
	border-bottom: 1px solid transparent;
}

input[type="submit"]:hover, input[type="button"]:hover {
	margin-bottom: 0.5em;
}

input:focus, select:focus, .button:focus, a.button:focus, textarea:focus {
	/*color: #555;*/
	/*outline: 1px solid #ccc;*/
	border-color: #5af;
	/*margin-bottom: 0.6em;*/
}

input:disabled, .button:disabled, a.button:disabled, textarea:disabled {
	background: #eee;
	color: #aaa;
	-webkit-transition: none;
}

select {
	outline: none; 
	min-height: 30px; 
	padding: 5px 1%; 
	margin: 5px 0; 
	border: 1px solid #ddd;
}

.button, a.button {
	/*padding: 0.5em 1em; 
	border: 1px solid #aaa;
	font-size: 1em;
	text-shadow: 1px 1px 0 #fff;
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	outline: none;*/

	display: inline-block;
	font-size: 1em;
	outline: none;
	padding: 0.5em 1.5em;
	margin: 0.5em 0;
	border: none;
	background: #eee;
	line-height: 1em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.button:hover, a.button:hover {
	/*text-decoration: none !important;
	box-shadow: 0 0 5px #aaa;*/
	opacity: 0.8;
	/*-webkit-transform: scale(1.1) !important;*/
}

.button:active, a.button:active {
	/*background: -webkit-linear-gradient(bottom, #eee, #ccc);
	background: -moz-linear-gradient(bottom, #eee, #ccc);
	background: -ms-linear-gradient(bottom, #eee, #ccc);
	background: -o-linear-gradient(bottom, #eee, #ccc);
	background: linear-gradient(bottom, #eee, #ccc);
	box-shadow: inset 0 0 5px #aaa;*/
	-webkit-transform: scale(0.9);
}
.button:focus, a.button:focus {
	box-shadow: 0 0 3px #777;
}
.form-horizontal input, 
.form-horizontal select, 
.form-horizontal .button, 
.form-horizontal a.button, 
.form-horizontal label, 
.form-horizontal textarea, 
.form-horizontal input[type="checkbox"], 
.form-horizontal input[type="radio"] {
	float: left;
}

label {
	width: auto;
	min-width: 12%;
	display: inline-block;
	margin: 0.5em 1% 0 0; 
	text-align: right; 
	line-height: 1.2em;
}

/*------------------------------
	TABLES
------------------------------*/

table {
	display: table; 
	width: 100%;
}
tr:nth-child(2n+1) {
	background: #f5f5f5;
}
thead tr:nth-child(n) {
	background: transparent;
}
th, td {
	padding: 10px;
	vertical-align: middle;
}
th {
	font-weight: bold;
}
section ol, section ul {
	list-style: initial;
	margin-left: 2em;
}
section ol {
	list-style: decimal;
}
section ul {
	list-style-type: square;
	color: inherit;
}
ul {
	list-style-type: square; 
	color: #074f69;
}


/*------------------------------
	INFOBAR
------------------------------*/

.infobar {
	position: fixed;
	width: 50%; 
	top: 0; 
	left: 25%; 
	height: 0; 
	padding: 0 1em;
	overflow: hidden;
	z-index: 30; 
	opacity: 0;
	-webkit-animation: fadeOut 5s;
	-moz-animation: fadeOut 5s;
	-ms-animation: fadeOut 5s;
	-o-animation: fadeOut 5s;
	animation: fadeOut 5s;
}
.infobar-alert {
	margin: 0 0 10px 0; 
	padding: 10px; 
	color: #555; 
	text-shadow: none; 
	background-color: #eee; 
	border: none;
	box-shadow: 0 5px 15px #aaa;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 0; height: 0; top: 0;}
	10% {opacity: 0.9; height: auto; top: 3em;}
	90% {opacity: 0.9; height: auto; top: 3em;}
	100% {opacity: 0; height: 0; top: 0; padding: 0 1em;}
}
@-moz-keyframes fadeOut {
	0% {opacity: 0; height: 0; top: 0;}
	10% {opacity: 0.9; height: auto; top: 3em;}
	90% {opacity: 0.9; height: auto; top: 3em;}
	100% {opacity: 0; height: 0; top: 0; padding: 0 1em;}
}
@-ms-keyframes fadeOut {
	0% {opacity: 0; height: 0; top: 0;}
	10% {opacity: 0.9; height: auto; top: 3em;}
	90% {opacity: 0.9; height: auto; top: 3em;}
	100% {opacity: 0; height: 0; top: 0; padding: 0 1em;}
}
@keyframes fadeOut {
	0% {opacity: 0; height: 0; top: 0;}
	10% {opacity: 0.9; height: auto; top: 3em;}
	90% {opacity: 0.9; height: auto; top: 3em;}
	100% {opacity: 0; height: 0; top: 0; padding: 0 1em;}
}


/*------------------------------
	BLOCKS
------------------------------*/

.row {width: 100%; height: auto; margin: 0; padding: 0; display: block; box-sizing: border-box;}
.row:after {display: block; content: ""; clear: both;}

.column, .column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10,
.column25, .column33, .column66, .column75
{position: relative; float: left; padding: 0.5em 1em; margin: 0; display: inline-block; text-indent: 0; box-sizing: border-box;}

.column1, .size1 {width: 10%;}
.column2, .size2 {width: 20%;}
.column3, .size3 {width: 30%;}
.column4, .size4 {width: 40%;}
.column5, .size5 {width: 50%;}
.column6, .size6 {width: 60%;}
.column7, .size7 {width: 70%;}
.column8, .size8 {width: 80%;}
.column9, .size9 {width: 90%;}
.column10, .size10 {width: 100%;}

.column25, .size25 {width: 25%;}
.column33, .size33 {width: 33%;}
.column66, .size66 {width: 66%;}
.column75, .size75 {width: 75%;}

.left {float: left;}
.right {float: right;}

.center {margin-left: auto; margin-right: auto; display: block; float: none; padding-left: 0; padding-right: 0;}
.center:after {display: block; content: ""; clear: both;}

.clear {clear: both;}

.offset1 {margin-left: 10%;}
.offset2 {margin-left: 20%;}
.offset3 {margin-left: 30%;}
.offset4 {margin-left: 40%;}
.offset5 {margin-left: 50%;}
.offset6 {margin-left: 60%;}
.offset7 {margin-left: 70%;}
.offset8 {margin-left: 80%;}
.offset9 {margin-left: 90%;}
.offset10 {margin-left: 100%;}

.offset25 {margin-left: 25%;}
.offset33 {margin-left: 33%;}
.offset66 {margin-left: 66%;}
.offset75 {margin-left: 75%;}

.topset1 {margin-top: 1em;}
.topset2 {margin-top: 2em;}
.topset3 {margin-top: 3em;}
.topset4 {margin-top: 4em;}
.topset5 {margin-top: 5em;}
.topset6 {margin-top: 6em;}
.topset7 {margin-top: 7em;}
.topset8 {margin-top: 8em;}
.topset9 {margin-top: 9em;}
.topset10 {margin-top: 10em;}

.bordered {padding: 0; border: 1px solid #333;}

dl {display: block;}
dt {font-weight: bold;}
dd {}
dl:after {display: block; content: ""; clear: both;}

/*------------------------------
	COLORS
------------------------------*/

.c-red, a.c-red {color: #900;}
.c-blue, a.c-blue {color: #5af;}
.c-grey, a.c-grey {color: #777;}
.c-green, a.c-green {color: #3a3;}
.c-orange, a.c-orange {color: #d95;}

.c-red:hover, a.c-red:hover {color: #800;}
.c-blue:hover, a.c-blue:hover {color: #49d;}
.c-grey:hover, a.c-grey:hover {color: #666;}
.c-green:hover, a.c-green:hover {color: #2b2;}
.c-orange:hover, a.c-orange:hover {color: #c84;}

.b-red, a.b-red {background-color: #900; color: #eee;}
.b-blue, a.b-blue {background-color: #5af; color: #eee;}
.b-grey, a.b-grey {background-color: #777; color: #ddd;}
.b-green, a.b-green {background-color: #3a3; color: #eee;}
.b-orange, a.b-orange {background-color: #d95; color: #eee;}
.b-none, a.b-none {background-color: transparent;}

/*------------------------------
	TEXTS
------------------------------*/

.tal {text-align: left !important;}
.tar {text-align: right !important;}
.tac {text-align: center !important; text-indent: 0;}
.taj {text-align: justify !important;}
.fl {float: left;}
.fr {float: right;}

hr {border: none; border-bottom: 1px solid #d7d7d7;}

strong {font-weight: bold;}
em {font-style: italic;}
p {margin-bottom: 0.5em; text-indent: 0; float: none; width: 100%;}
p.column25, p.column50, p.column75 {
	width: 23%;
	padding: 0 1%;
	text-indent: 0;
	float: left;
}
p.column50 {
	width: 48%;
}
p.column75 {
	width: 73%;
}

p img {
	width: auto;
	max-width: 98%;
}

pre {
	border: 1px solid red;
	color: #777;
	font-family: Courier;
}

sup, sub {font-size: 0.5em; line-height: 100%; vertical-align: top;}
sub {vertical-align: bottom;}

blockquote {
	display: inline-block;
	background: rgba(200, 200, 200, 0.1);
	border: 1em solid rgba(200, 200, 200, 0.2);
	padding: 0.25em 0.5em;
	border-top-color: transparent;
	border-bottom-color: transparent;
	font-size: 1.5em;
	font-weight: bold;
	color: #999;
	text-shadow: 0.1em 0.1em 0.1em #fff;
}

li {
	margin-left: 2em;
}

.invisible {
	opacity: 0;
	visibility: hidden;
}

.hidden {
	visibility: hidden;
	display: none;
}


@media screen and (max-width: 1200px) and (min-width: 801px) {
	#content .content-image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 800px) { /*and (min-width: 640px) {*/
	.column1, .column2, .column25, .size1, .size2, .size25 {width: 25%;}
	.column3, .column33, .column4, .size3, .size33, .size4 {width: 33%;}
	.column5, .size5 {width: 50%;}
	.column6, .column66, .column7, .size6, .size66, .size7 {width: 66%;}
	.column75, .column8, .column9, .column10, .size75, .size8, .size9, .size10 {width: 100%;}

	.offset1, .offset2, .offset25 {margin-left: 25%;}
	.offset3, .offset33, .offset4 {margin-left: 33%;}
	.offset5 {margin-left: 50%;}
	.offset6, .offset66, .offset7 {margin-left: 66%;}
	.offset75, .offset8, .offset9, .offset10 {margin-left: 100%;}
	
	.list-main-title-image {
		width: 100%;
		float: left;
	}
	.list-main-article {
		float: right;
	}
	
	#content .content-image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}

	#tag-cloud {
		padding-top: 15em;
	}

	.modal .window {
		width: 80%;
	}

	.modal:target .window,
	.modal.active .window {
		display: inline-block;
		margin: 5% 0 0 -40%;
	}
}

@media screen and (max-width: 480px) {
	.column1, .column2, .column25, .size1, .size2, .size25 {width: 25%;}
	.column3, .column33, .column4, .size3, .size33, .size4 {width: 33%;}
	.column5, .size5 {width: 50%;}
	.column6, .column66, .column7, .size6, .size66, .size7 {width: 66%;}
	.column75, .column8, .column9, .column10, .size75, .size8, .size9, .size10 {width: 100%;}

	.offset1, .offset2, .offset25 {margin-left: 0%;}
	.offset3, .offset33, .offset4 {margin-left: 0%;}
	.offset5 {margin-left: 50%;}
	.offset6, .offset66, .offset7 {margin-left: 50%;}
	.offset75, .offset8, .offset9, .offset10 {margin-left: 50%;}
	

	#frontend-search .keywords {
		width: 80%;
	}

	#content .content-image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}

	#logo {
		display: block;
	}
	#logo:hover {
		border: none;
		webkit-animation: logo_spin 1.5s;
		-moz-animation: logo_spin 1.5s;
		-ms-animation: logo_spin 1.5s;
		-o-animation: logo_spin 1.5s;
		animation: logo_spin 1.5s;
	}

	#main-logo {
		display: none;
	}

	nav {
		position: absolute;
		top: 0;
		width: 3em;
		height: 3em;
		margin: 0;
		padding: 2em 1em 0 2em;
		text-align: left;
		overflow: hidden;
		z-index: 3;
	}
	nav#menu:target {
		position: fixed;
		height: 100%;
		width: auto;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 1em #555;
	}
	nav li {
		display: block;
		float: none;
	}
	nav li a {
		font-size: 2em;
		line-height: 150%;
		font-family: Calibri, sans-serif;
		border-bottom: none;
	}
	nav .fa {
		display: inline-block;
	}
	nav #menu-show, nav #menu-hide {
		display: none;
	}
	nav li a.active {
		font-weight: bold;
	}
	nav li a:focus,
	nav li a:active,
	nav li a:hover {
		border: none;
	}
	nav #brand {
		display: none;
	}
	
	nav #menu-show {
		display: block;
	}
	nav #menu-hide {
		display: none;
	}
	nav:target #menu-show {display: none;}
	nav:target #menu-hide {display: block;}

	#tag-cloud {
		padding-top: 12em;
		background-size: inherit;
	}

	.modal .window {
		width: 90%;
	}

	.modal:target .window,
	.modal.active .window {
		display: inline-block;
		margin: 5% 0 0 -45%;
	}
}