body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #808080;
}

em {
	color: #aaa;
}

footer {
	color: #eee;
	text-shadow: 0 0 0.5em #000;
}

.rules {
	width: 48%;
	padding: 1%;
	margin-top: 5em;
	color: #333;
}

.rules h2 {
	color: #900;
}

.back-to-top {
	position: fixed;
	left: 80%;
	display: block;
	bottom: 0;
	width: 1em;
	height: 1em;
	text-align: center;
	margin-left: -1%;
	padding: 1em;
	color: #900;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em 0.5em 0 0;
	box-shadow: 0 0 0.2em #333;
	-webkit-transition: padding-bottom 0.3s;
	-moz-transition: padding-bottom 0.3s;
	-ms-transition: padding-bottom 0.3s;
	transition: padding-bottom 0.3s;
}
.back-to-top:hover {
	border: none;
	padding-bottom: 2em;
}
.back-to-top:focus {
	border: none;
}


#menu {
	position: fixed;
	width: 100%;
	min-height: 3em;
	text-align: center;
	padding: 1em 0 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
nav#menu li {
	margin: 0;
}
nav#menu:target {
	background: rgba(0, 0, 0, 0.8);
}

#menu li {
	display: inline-block;
}


#menu a {
	padding: 0.5em 1em;
	font-size: 1.6em;
	vertical-align: middle;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 0 0 0.2em #000;
}

#menu a:hover {
	border: none;
	color: #eee;
}

nav #menu-hide {
	display: none;
}


.modal {
	background: rgba(0, 0, 0, 0.8);
}

.modal .window {
	color: #eee;
	background: #333;
}

.block-image {
	height: inherit;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-size: cover;
	background-position: center;
}
#img-fantasy {
	background-image: url('/res/images/fantasy-block.jpg');
}
#img-horror {
	background-image: url('/res/images/horror-block.jpg');
}
#img-scifi {
	background-image: url('/res/images/scifi-block.jpg');
}

.card {
	position: relative;
	height: auto;
	width: 27vw;
	margin: 50vh 0 50vh 17vw;
	padding: 3vw;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 1em #000;
}

#home, #about-author {
}

#about-game {
	margin-left: 50vw;
}

h1, h2 {
	margin: 0;
	font-family: 'Marck Script', cursive;
	font-size: 3em;
	color: #fff;
	text-shadow: 0 0 2px #333;
}

.roto-wrap {
	position: relative;
	display: inline-block;
	height: 1em;
	width: 3em;
	margin-top: -1.3em;
	font-size: 1em;
	vertical-align: middle;
}

.roto-word {
	position: absolute;
	left: 0;
	padding-left: 0.2em;
	opacity: 0;
	-webkit-animation-name: roto;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 6s;
	
	-moz-animation-name: roto;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 6s;
	
	-ms-animation-name: roto;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 6s;
	
	animation-name: roto;
	animation-iteration-count: infinite;
	animation-duration: 6s;
}

.roto-word:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}

.roto-word:nth-child(2) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.roto-word:nth-child(3) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}

@-webkit-keyframes roto {
	0% {top: -2em; opacity: 0;}
	50% {top: -2em; opacity: 0;}
	66% {top: 0; opacity: 1;}
	84% {top: 0; opacity: 1;}
	100% {top: 2em; opacity: 0;}
}

@-moz-keyframes roto {
	0% {top: -2em; opacity: 0;}
	50% {top: -2em; opacity: 0;}
	66% {top: 0; opacity: 1;}
	84% {top: 0; opacity: 1;}
	100% {top: 2em; opacity: 0;}
}

@-ms-keyframes roto {
	0% {top: -2em; opacity: 0;}
	50% {top: -2em; opacity: 0;}
	66% {top: 0; opacity: 1;}
	84% {top: 0; opacity: 1;}
	100% {top: 2em; opacity: 0;}
}

@keyframes roto {
	0% {top: -2em; opacity: 0;}
	50% {top: -2em; opacity: 0;}
	66% {top: 0; opacity: 1;}
	84% {top: 0; opacity: 1;}
	100% {top: 2em; opacity: 0;}
}

.rules-average {
	background: #333;
	color: #eee;
	font-weight: bold;
	padding: 0 0.5em;
}

table {
	text-align: center;
	background: #fff;
}

@media screen and (min-width: 481px) {
	nav #menu-show, nav #menu-hide {
		display: none;
	}

	#menu a {
		font-size: 1.2em;
	}
}


@media screen and (max-width: 480px) {
	#menu {
		background-color: transparent;
	}
	
	nav#menu {
		text-align: left;
		padding: 0;
	}
	nav#menu li {
		display: block;
		margin-bottom: 0.2em;
	}

	.card {
		width: 88vw;
		margin-left: 3vw;
	}
	#about-game {
		margin-left: 3vw;
	}

	.rules {
		width: 98%;
		padding: 1%;
	}
}