.simple-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: 999;
}
.simple-modal-window {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1em;
	background: #f0f0f0;
	box-sizing: border-box;
	box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.7);
	overflow: visible;
}
.simple-modal-content * {
  max-width: 100%;
  max-height: 100%;
}
.simple-modal-exit {
	position: absolute;
	top: -1em;
	right: -1em;
	width: 1em;
	height: 1em;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	vertical-align: top;
	text-decoration: none;
	color: #333;
	background: #eee;
	border-radius: 1em;
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.simple-modal-exit:hover, .simple-modal-exit:focus {
	color: #111;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.simple-modal-content input, .simple-modal-content textarea {vertical-align: middle}