<section class="row center size6">
	<div class="tal">
		<h1>O hre</h1>
		<p>Hra vynikla ako reakcia na neúspešné ťaženie hry Dračí Doupě 2.</p>
		<p>Hráčom sa vôbec nechcelo učiť siahodlhé pravidlá pre svoje postavy; rôzne obmedzenia, nariadenia a obecne ich zdržiavali od hry.</p>

		<p>Preto som začal hľadať systém, ktorý by pokrýval väčšinu požiadaviek mojich hráčov. Medzi tými požiadavkami boli:</p>
		<ol>
			<li>Jednoduchá tvorba postavy</li>
			<li>Rýchle a účinné herné mechaniky</li>
			<li>Jednoduchý manažment jednotlivých aspektov hrdinov</li>
			<li>Nižšie nároky kladené na hráčov a vyššie na sprievodcu hrou</li>
			<li>Multižánrovosť</li>
		</ol>

		<p>Hádajte, ktorá hra toto spĺňala. Áno, sú ich desiatky, ale osobne som nenašiel žiadnu, ktorá by mi plne vyhovovala.</p>
		<p>A tak podľa vzoru <strong>nemáš - sprav si</strong> som si sadol a napísal Prah.</p>
		<br>
		<p>Prah je teda multižánrový systém, ktorý možno aplikovať na rôzne žánre.</p>
		<p>Pre jednotlivé žánre existujú rôzne zmeny v základných pravidlách. Tie možno aplikovať na klasický žáner Fantasy.</p>
		<p>Preto sa hra samotná volá <strong>Prah Fantasy</strong>.</p>
		<p>Ostatné sady pravidiel vyjdú pod názvom <strong>Prah Sci-Fi</strong> a <strong>Prah Hororu</strong>.</p>
	</div>

	<div class="tar topset3">
		<h1>O tvorcovi</h1>
		<p>Volám sa Marek J. Kolcun.</p>
		<p>Čo znamená to "J"? Nepoviem.</p>
		<p>Som začínajúci spisovateľ, amatérsky hudobník, programátor a tvorca hier.</p>
		<p>Som autorom hry Prah Fantasy.</p>
		<p>Nemáte za čo.</p>
	</div>
</section>