<section>
	<div id="img-<?= $randomBackground ?>" class="background"></div>
	<div class="prlx">
		<div id="home" class="card size4 tac">
			<h1>
				Prah 
				<span class="roto-wrap">
					<span class="roto-word">Fantasy</span>
					<span class="roto-word">Hororu</span>
					<span class="roto-word">Sci-fi</span>
				</span>
			</h1>
			<span class="h4 tac">Hry na hrdinov rýchlo.</span>
		</div>

		<div id="about-game" class="card size6">
			<h2>O hre</h2>
			<p>Hra vynikla ako reakcia na neúspešné ťaženie hry Dračí Doupě 2.</p>
			<p>Hráčom sa vôbec nechcelo učiť siahodlhé pravidlá pre svoje postavy; rôzne obmedzenia, nariadenia a obecne ich zdržiavali od hry.</p>

			<p>Preto som začal hľadať systém, ktorý by pokrýval väčšinu požiadaviek mojich hráčov. Medzi tými požiadavkami boli:</p>
			<ol>
				<li>Jednoduchá tvorba postavy</li>
				<li>Rýchle a účinné herné mechaniky</li>
				<li>Jednoduchý manažment jednotlivých aspektov hrdinov</li>
				<li>Nižšie nároky kladené na hráčov a vyššie na sprievodcu hrou</li>
				<li>Multižánrovosť</li>
			</ol>
			<div class="topset1">
				<p>Hádajte, ktorá hra toto spĺňala. Áno, sú ich desiatky, ale osobne som nenašiel žiadnu, ktorá by mi plne vyhovovala.</p>
				<p>A tak podľa vzoru <strong>nemáš - sprav si</strong> som si sadol a napísal Prah.</p>
				<br>
				<p>Prah je teda multižánrový systém, ktorý možno aplikovať rovnako dobre na fantasy, sci-fi aj horor.</p>
				<p>Systém samotný sa volá <strong>Prah Fantasy</strong>, ale pre jednotlivé žánre existujú rôzne zmeny v základných pravidlách.</p>
				<p>Ostatné sady pravidiel vyjdú pod názvom <strong>Prah Sci-Fi</strong> a <strong>Prah Hororu</strong>.</p>
			</div>
			<div class="clear"></div>
		</div>

		<div id="about-author" class="card size6">
			<h2>O autorovi</h2>
			<p>Volám sa Marek J. Kolcun.</p>
			<p>Čo znamená to "J"? Nepoviem.</p>
			<p>Som začínajúci spisovateľ, amatérsky hudobník, programátor a tvorca hier.</p>
			<p>Som autorom hry Prah Fantasy.</p>
			<p>Nemáte za čo.</p>
		</div>
	</div>
</section>