<!-- modals -->
<div id="modal-item" class="modal" data-ljs-s="item">
	<div class="window">
		<div class="body">
			<div class="bar">
				<input type="text" name="name" placeholder="<?= $this->tran->say('ITEM_NAME'); ?>" class="name" />
				<div class="attributes">
					{{item-attribute in attributes}}
				</div>
				<div class="clear"></div>

				<div class="setter hidden tac">
					<div class="setter-range">
						<span>-6</span>
						<input type="range" name="setter.value" min="-6" max="6" value="0" class="slider size9" />
						<span>+6</span>
					</div>
				</div>
			</div>

			<textarea name="text_value" placeholder="<?= $this->tran->say('TEXT_VALUE'); ?>" class="size10"></textarea>
			<textarea name="description" placeholder="<?= $this->tran->say('ITEM_DESC'); ?>" class="size10"></textarea>


			<div class="row">
				<div class="column66">
					<input type="number" class="amount-input number" name="amount" value="1" />
					<input type="checkbox" id="stackable" name="stackable" value="1" />
					<label for="stackable"><img src="/res/svg/stack.svg" /></label>
					<select name="item_group">
						<option value="0"><?= $this->tran->say('WEAPON'); ?></option>
						<option value="1"><?= $this->tran->say('CLOTHING'); ?></option>
						<option value="2"><?= $this->tran->say('FOOD'); ?></option>
						<option value="3"><?= $this->tran->say('WRITING'); ?></option>
						<option value="4"><?= $this->tran->say('MISC'); ?></option>
					</select>
				</div>

				<div class="column right">
					<input type="number" name="price" size="3" class="number" value="0" />
				</div>
			</div>
		</div>

		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-blue"><?= $this->tran->say('CANCEL'); ?></button>
			<button data-ljs-l="save" class="button c-blue"><?= $this->tran->say('SAVE'); ?></button>
		</div>
	</div>
</div>

<div id="modal-talent" class="modal" data-ljs-s="talent">
	<div class="window">
		<div class="body">
			<div>
				<input type="text" name="name" placeholder="<?= $this->tran->say('TALENT_NAME'); ?>" class="name" />
				<textarea name="description" placeholder="<?= $this->tran->say('TALENT_DESC'); ?>" class="description size10"></textarea>
			</div>
			<div class="attributes">
				<button class="relate_to button c-grey" data-ljs-l="relateTo.pow"><img src="/res/svg/pow.svg" /></button>
				<button class="relate_to button c-grey" data-ljs-l="relateTo.dex"><img src="/res/svg/dex.svg" /></button>
				<button class="relate_to button c-grey" data-ljs-l="relateTo.knw"><img src="/res/svg/knw.svg" /></button>
				<button class="relate_to button c-grey" data-ljs-l="relateTo.san"><img src="/res/svg/san.svg" /></button>
			</div>
		</div>
		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-blue"><?= $this->tran->say('CANCEL'); ?></button>
			<button data-ljs-l="save" class="button c-blue"><?= $this->tran->say('SAVE'); ?></button>
		</div>
	</div>
</div>

<div id="modal-skill" class="modal" data-ljs-s="skill">
	<div class="window">
		<div class="body">
			<input type="text" name="name" placeholder="<?= $this->tran->say('SKILL_NAME'); ?>" class="name" />
			<textarea name="description" placeholder="<?= $this->tran->say('SKILL_DESC'); ?>" class="size10"></textarea>
			<label for="skill_difficulty"><?= $this->tran->say('SKILL_DIFFICULTY'); ?></label>
			<select id="skill_difficulty" name="difficulty" class="size4">
				<optgroup label="<?= $this->tran->say('SD_1'); ?>">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</optgroup>
				<optgroup label="<?= $this->tran->say('SD_2'); ?>">
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</optgroup>
				<optgroup label="<?= $this->tran->say('SD_3'); ?>">
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
				</optgroup>
				<optgroup label="<?= $this->tran->say('SD_4'); ?>">
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
				</optgroup>
				<optgroup label="<?= $this->tran->say('SD_5'); ?>">
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
				</optgroup>
				<optgroup label="<?= $this->tran->say('SD_6'); ?>">
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22+</option>
				</optgroup>
			</select>
		</div>

		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-blue"><?= $this->tran->say('CANCEL'); ?></button>
			<button data-ljs-l="save" class="button c-blue"><?= $this->tran->say('SAVE'); ?></button>
		</div>
	</div>
</div>

<div id="modal-dice" class="modal" data-ljs-s="dice">
	<div class="window">
		<div class="body tac">
			<div>
				<a href="javascript:void(0);" data-ljs-l="throw.1">
					<img src="/res/svg/dice.svg" width="50" />
				</a>
			</div>
			<div>
				<a href="javascript:void(0);" data-ljs-l="throw.2">
					<img src="/res/svg/dice.svg" width="50" />
					<img src="/res/svg/dice.svg" width="50" />
				</a>
			</div>
			
			<div>
				<a href="javascript:void(0);" data-ljs-l="throw.3">
					<img src="/res/svg/dice.svg" width="50" />
					<img src="/res/svg/dice.svg" width="50" />
					<img src="/res/svg/dice.svg" width="50" />
				</a>
			</div>
			<div class="h2 pop">
				<span>{{result}}</span>
				<span class="sum">{{sum}}</span>
			</div>
		</div>
		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-orange"><?= $this->tran->say('CLOSE'); ?></button>
		</div>
	</div>
</div>


<div id="modal-offers" class="modal" data-ljs-s="offers">
	<div class="window">
		<div class="body">
			<div>
				<div class="name">
					<span class="group"><img ljs-src="/res/svg/group{{item_group}}.svg" /></span>
					<span>{{name}}</span>
				</div>
				<div class="amount character tac">
					<span>1</span>
					<input type="range" name="amount" min="1" max="{{max}}" class="slider" />
					<span>{{amount}} / {{max}}</span>
				</div>
				<div class="amount admin">
					<label for="offer-amount"><?= $this->tran->say('AMOUNT'); ?>:</label>
					<input type="number" min="1" step="1" name="amount" class="number" id="offer-amount" />
				</div>
			</div>
			<hr>
			<ul class="offer-to">
				{{offer-guild-member in guild}}
			</ul>
		</div>
		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-orange"><?= $this->tran->say('CLOSE'); ?></button>
		</div>
	</div>
</div>

<div id="modal-npc-group" class="modal" data-ljs-s="npcGroup">
	<div class="window">
		<div class="body">
			<div>
				<?= $this->tran->say('ADD_NPC'); ?> <span>{{selectedNpc.name}}</span> <?= $this->tran->say('INTO_GROUP'); ?>:
			</div>
			<input type="text" name="title" placeholder="<?= $this->tran->say('NPC_GROUP_NAME'); ?>" class="size10" />
			<ul class="npc-group-list">
				{{npc-group-list-item in npcGroups}}
			</ul>
		</div>
		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-blue"><?= $this->tran->say('CLOSE'); ?></button>
			<button data-ljs-l="add" class="button c-blue"><?= $this->tran->say('CREATE_AND_ADD'); ?></button>
		</div>
	</div>
</div>

<div id="modal-npc" class="modal" data-ljs-s="npc">
	<div class="window">
		<div class="body">
			<div class="bar">
				<input type="text" name="name" placeholder="<?= $this->tran->say('NPC_NAME'); ?>" class="name" />
				<span class="right">
					<input type="number" name="attrSpan" min="0" max="48" step="1" class="number" value="10" />
					<a href="javascript:void(0);" class="add-xp b-blue" data-ljs-l="randomize-attrs"><i class="fa fa-random"></i></a>
				</span>
				<div class="attributes">
					{{item-attribute in attributes}}
				</div>
				<div class="clear"></div>

				<div class="setter hidden tac">
					<div class="setter-range">
						<span>0</span>
						<input type="range" name="setter.value" min="0" max="12" value="0" class="slider size9" />
						<span>18</span>
					</div>
				</div>
			</div>
			<textarea name="description" placeholder="<?= $this->tran->say('NPC_DESC'); ?>" class="size10"></textarea>
		</div>
		<div class="footer tar">
			<button data-ljs-l="cancel" class="button c-blue"><?= $this->tran->say('CLOSE'); ?></button>
			<button data-ljs-l="save" class="button c-blue"><?= $this->tran->say('SAVE'); ?></button>
		</div>
	</div>
</div>