<div class="loading-bar"><i class="fa fa-cog fa-spin"></i></div>
<div class="loading-bar bottom"></div>
<div class="row">
	<div class="app column10 center">
		<div data-ljs-s="menu" class="menu">
			<a href="javascript:void(0);" data-ljs-l="toggleNavigation" class="top-left-button navigation-button"><i class="fa fa-bars"></i></a>
			<span class="user"><?= $player->email; ?></span>
			<span class="right">
				<span class="dice-result">{{diceResult}}</span>
				<a href="javascript:void(0);" data-ljs-l="open-dice"><img src="/res/svg/dice.svg" /></a>
				<span class="dropdown">
					<a href="javascript:void(0);"><img src="/res/svg/sleep.svg" /></a>
					<ul>
						<li><a href="javascript:void(0);" data-ljs-l="rest.bad" class=" "><i class="fa fa-frown-o"></i></a></li>
						<li><a href="javascript:void(0);" data-ljs-l="rest.good" class=""><i class="fa fa-smile-o"></i></a></li>
					</ul>
				</span>
			</span>
			<div class="clear"></div>
		</div>

		<div data-ljs-s="mainMenu" id="main-menu" class="">
			<div class="logo tac">
				<h1><img src="/res/logo/prah-logo-128.png"></img></h1>
			</div>
			<div class="main-menu-actions">
				<a href="/rules">
					<i class="fa fa-file"></i>
				</a>
				<a href="/settings" title="<?= $this->tran->say('SETTINGS'); ?>">
					<i class="fa fa-cog"></i>
				</a>
				<a href="?do=logout">
					<i class="fa fa-power-off" title="<?= $this->tran->say('EXIT'); ?>"></i>
				</a>
			</div>

			<div id="characters">
				<div class="list-icon"><i class="fa fa-user"></i></div>
				<ul>
					{{character-list-item in characterList}}
				</ul>
				<a href="javascript:void(0);" data-ljs-l="add-char" class="button add c-grey"><?= $this->tran->say('CHAR_CREATE'); ?></a>
			</div>

			<div id="games">
				<div class="list-icon"><i class="fa fa-map"></i></div>
				<ul>
					{{game-list-item in gameList}}
				</ul>
				<a href="javascript:void(0);" data-ljs-l="add-game" class="button add c-grey"><?= $this->tran->say('CREATE_GAME'); ?></a>
			</div>
			<div class="clear"></div>
		</div>

		<div data-ljs-s="character" class="row">
			<div id="character" class="column10 center">
				<div class="navigation">
					<div class="main-data size10 center">
						<input type="hidden" name="index" value="-1" />
						<input type="text" name="name" placeholder="<?= $this->tran->say('CHAR_NAME'); ?>" class="size5" />
						<span class="xp">
							<span >{{xp}}</span>
							<a href="javascript:void(0);" data-ljs-l="add-xp" class="add-xp">xp</a>
						</span>
					</div>

					<div class="attributes">
						{{attribute in attributes}}
					</div>
					<div class="clear"></div>

					<div class="setter hidden">
						<div class="setter-range">
							<span>0</span>
							<span><input type="range" name="setter.value" min="0" max="{{setter.max}}" step="1" class="slider" /></span>
							<span>{{setter.value}}/{{setter.max}}</span>
						</div>
						<a href="javascript:void(0);" data-ljs-l="raise-attribute" class="add-attr-button hidden">&plus;</a>
					</div>

					<ul class="tab-nav">
						<li>
							<a href="javascript:void(0);" data-ljs-l="tab-select.0">
								<img src="/res/svg/notes.svg" width="20" />
								&nbsp;<?= $this->tran->say('NOTES'); ?>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-ljs-l="tab-select.1">
								<img src="/res/svg/inventory.svg" width="20" />
								&nbsp;<?= $this->tran->say('INVENTORY'); ?>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-ljs-l="tab-select.2">
								<img src="/res/svg/talents.svg" width="20" />
								&nbsp;<?= $this->tran->say('TALENTS'); ?>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-ljs-l="tab-select.3">
								<img src="/res/svg/skills.svg" width="20" />
								&nbsp;<?= $this->tran->say('SKILLS'); ?>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-ljs-l="tab-select.4">
								<img src="/res/svg/settings.svg" width="20" />
								&nbsp;<?= $this->tran->say('ADVENTURE'); ?>
							</a>
						</li>

						<li>
							<a href="javascript:void(0);" data-ljs-l="back">
								<img src="/res/svg/exit.svg" width="20" />
								&nbsp;<?= $this->tran->say('TO_MENU'); ?>
							</a>
						</li>
					</ul>
				</div>
				<div class="navigation-toggler" data-ljs-l="toggleNavigation"></div>

				<div class="tab-wrapper column8 center">
					<div class="tabs">
						<div class="main tab">
							<h2><?= $this->tran->say('NOTES'); ?></h2>
							<div class="text-block">
								<label for="notes-1"><img src="/res/svg/scroll.svg" /></label>
								<textarea id="notes-1" name="notes" class="size10" placeholder="<?= $this->tran->say('NOTES'); ?>"></textarea>
							</div>
							<div class="text-block">
								<label for="notes-2"><img src="/res/svg/history.svg" /></label>
								<textarea id="notes-2" name="description" class="size10" placeholder="<?= $this->tran->say('CHAR_DESC'); ?>"></textarea>
							</div>
							<div class="text-block">
							<label for="notes-3"><img src="/res/svg/goal.svg" /></label>
								<textarea id="notes-3" name="goal" class="size10" placeholder="<?= $this->tran->say('CHAR_GOAL'); ?>"></textarea>
							</div>
							<div class="text-block">
							<label for="notes-4"><img src="/res/svg/fear.svg" /></label>
								<textarea id="notes-4" name="fear" class="size10" placeholder="<?= $this->tran->say('CHAR_FEAR'); ?>"></textarea>
							</div>
						</div>
						
						<div class="items tab">
							<h2><?= $this->tran->say('INVENTORY'); ?></h2>
							<ul>
								{{item in items}}
							</ul>
							<a href="javascript:void(0);" class="add button size4 c-grey" data-ljs-l="add-item"><?= $this->tran->say('ADD_ITEM'); ?></a>
						</div>

						<div class="talents tab">
							<h2><?= $this->tran->say('TALENTS'); ?></h2>
							<div class="talent-group-pow">
								<div class="h4 tac"><img src="/res/svg/pow.svg" /></div>
								<ul>
									{{talent in talents.pow}}
								</ul>
							</div>
							<div class="talent-group-dex">
								<div class="h4 tac"><img src="/res/svg/dex.svg" /></div>
								<ul>
									{{talent in talents.dex}}
								</ul>
							</div>
							<div class="talent-group-knw">
								<div class="h4 tac"><img src="/res/svg/knw.svg" /></div>
								<ul>
									{{talent in talents.knw}}
								</ul>
							</div>
							<div class="talent-group-san">
								<div class="h4 tac"><img src="/res/svg/san.svg" /></div>
								<ul>
									{{talent in talents.san}}
								</ul>
							</div>
							<a href="javascript:void(0);" class="add button size4 c-grey" data-ljs-l="add-talent"><?= $this->tran->say('ADD_TALENT'); ?></a>
						</div>
						<div class="skills tab">
							<h2><?= $this->tran->say('SKILLS'); ?></h2>
							<ul>
								{{skill in skills}}
							</ul>
							<a href="javascript:void(0);" class="add button size4 c-grey" data-ljs-l="add-skill"><?= $this->tran->say('ADD_SKILL'); ?></a>
						</div>
						<div class="settings tab">
							<h2><?= $this->tran->say('ADVENTURE'); ?></h2>
							<div class="char-saved">
								<div class="search">
									<input type="text" name="adventure.search" placeholder="<?= $this->tran->say('GAME_TITLE'); ?>" class="size10"/>
									<ul class="results">
										{{game-search-item in adventure.list}}
									</ul>
								</div>
								<div class="adventure">
									<h4><?= $this->tran->say('GUILD'); ?></h4>
									<ul>
										{{guild-member in adventure.guild}}
									</ul>
									
									<h4>{{adventure.title}}</h4>
									<p>{{adventure.description}}</p>
									<p>{{adventure.ruleset}}</p>
									<a href="javascript:void(0);" data-ljs-l="adventure.leave" class="button c-red"><?= $this->tran->say('LEAVE'); ?></a>
								</div>
							</div>
							<div class="char-unsaved">
								<h3><?= $this->tran->say('SAVE_CHAR_FIRST'); ?></h3>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="game" class="" data-ljs-s="game">
			<div class="navigation active">
				<div class="main-data size10 center">
					<input type="hidden" name="index" value="-1" />
					<h2>{{title}}</h2>
					<div class="size5 right">
						<label for="triumphs"><?= $this->tran->say('TRIUMPHS'); ?></label>
						<input type="number" id="triumphs" name="triumphs" min="0" step="1" class="number" />
					</div>
				</div>
				<div class="clear"></div>

				<ul class="tab-nav">
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.0">
							<img src="/res/svg/notes.svg" width="20" />
							&nbsp;<?= $this->tran->say('NOTES'); ?>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.1">
							<img src="/res/svg/inventory.svg" width="20" />
							&nbsp;<?= $this->tran->say('INVENTORY'); ?>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.2">
							<img src="/res/svg/guild.svg" width="20" />
							&nbsp;<?= $this->tran->say('GUILD'); ?>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.3">
							<img src="/res/svg/npcs.svg" width="20" />
							&nbsp;<?= $this->tran->say('NPCS'); ?>
						</a>
					</li>
					<!-- 
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.4">
							<img src="/res/svg/sound.svg" width="20" />
							&nbsp;Sound Master
						</a>
					</li>
					-->
					<li>
						<a href="javascript:void(0);" data-ljs-l="tab-select.4">
							<img src="/res/svg/settings.svg" width="20" />
							&nbsp;<?= $this->tran->say('SETTINGS'); ?>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-ljs-l="back">
							<img src="/res/svg/exit.svg" width="20" />
							&nbsp;<?= $this->tran->say('TO_MENU'); ?>
						</a>
					</li>
				</ul>
			</div>
			<div class="navigation-toggler active" data-ljs-l="toggleNavigation"></div>

			<div class="tab-wrapper column8 center">
				<div class="tabs">
					<div class="notes tab">
						<h2><?= $this->tran->say('NOTES'); ?></h2>
						<textarea name="notes" placeholder="<?= $this->tran->say('NOTES'); ?>" class="size10"></textarea>
					</div>
					<div class="items tab">
						<h2><?= $this->tran->say('INVENTORY'); ?></h2>
						<input type="text" name="itemSearch" class="size10" placeholder="<?= $this->tran->say('SEARCH'); ?>" />
						<ul>
							{{item in items}}
						</ul>
						<a href="javascript:void(0);" class="add button size4 c-grey" data-ljs-l="add.item"><?= $this->tran->say('ADD_ITEM'); ?></a>
					</div>
					<div class="guild tab">
						<h2><?= $this->tran->say('GUILD'); ?></h2>
						<ul>
							{{guild-member in guild}}
						</ul>
					</div>
					<div class="npc-tab tab">
						<h2><?= $this->tran->say('NPCS'); ?></h2>
						<ul class="npc-groups">
							{{npc-group in npcGroups}}
						</ul>
						<hr>
						<input type="text" name="npcSearch" value="" class="size10" placeholder="<?= $this->tran->say('SEARCH'); ?>" />
						<ul class="npcs">
							{{npc in npcs}}
						</ul>
						<a href="javascript:void(0);" class="add button c-grey" data-ljs-l="add.npc"><?= $this->tran->say('ADD_NPC'); ?></a>
					</div>
					<!--
					<div class="sound tab">
						<h2>Sound Master</h2>
					</div>
					-->
					<div class="settings tab">
						<h2><?= $this->tran->say('SETTINGS'); ?></h2>
						<input type="text" name="title" placeholder="<?= $this->tran->say('GAME_TITLE'); ?>" class="size10" />
						<textarea name="description" placeholder="<?= $this->tran->say('GAME_DESC'); ?>" class="size10"></textarea>
						<input type="text" name="ruleset" placeholder="<?= $this->tran->say('USED_RULESET'); ?>" class="size10" />
						<input type="checkbox" name="open" id="game-open" value="1" /><label for="game-open"><?= $this->tran->say('OPEN_GAME'); ?></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?= $TEMPLATES; ?>
<?= $MODALS; ?>