<div class="menu">
	<a href="/player" class=""><i class="fa fa-arrow-left"></i></a>
</div>

<section id="main-menu" class="topset5">
	<form action="" method="post" class="size10 topset5">
		<h1><i class="fa fa-cog"></i> <?= $this->tran->say('SETTINGS') ?></h1>
		<h2><?= $this->tran->say('CHANGE_PASS') ?></h2>
		<div>
			<label for="old-password" class="size2" ><?= $this->tran->say('OLD_PASS') ?>:</label>
			<input type="password" id="old-password" name="old_password" value="" />
		</div>
		<div>
			<label for="new-password" class="size2" ><?= $this->tran->say('NEW_PASS') ?>:</label>
			<input type="password" id="new-password" name="new_password" value="" />
		</div>
		<div>
			<label for="rep-password" class="size2" ><?= $this->tran->say('REP_PASS') ?>:</label>
			<input type="password" id="rep-password" name="rep_password" value="" />
		</div>
		<input type="submit" name="saveSettings" value="<?= $this->tran->say('SAVE') ?>" class="button c-green right" />
	</form>
</section>