<template name="character">
	<div>character</div>
</template>

<template name="game">
	<div>game</div>
</template>

<template name="character-list-item">
	<li>
		<a href="javascript:void(0);" data-ljs-l="select-char" class="lookup">
			<!-- <i class="fa fa-user"></i> -->
			<span class="name">{{name}}</span>
		</a>
		<div class="description">{{title}}</div>
		<div class="clear"></div>
	</li>
</template>

<template name="game-list-item">
	<li>
		<a href="javascript:void(0);" class="lookup" data-ljs-l="manage">
			<!-- <i class="fa fa-map"></i> -->
			<span class="name">{{title}}</span>
			<span class="right c-grey"><i class="fa fa-lock"></i></span>
		</a>
		<div class="details">{{description}}</div>
		<div class="clear"></div>
	</li>
</template>

<template name="game-search-item">
	<li>
		<a href="javascript:void(0);" class="name" data-ljs-l="details">{{title}}</a>
		<div class="actions">
			<a href="javascript:void(0);" data-ljs-l="adventure.join" title="<?= $this->tran->say('JOIN_GAME'); ?>"><img src="/res/svg/group3.svg" /></a>
		</div>
		<div class="clear"></div>
		<div class="details">
			<p>{{email}}</p>
			<p><em>{{description}}</em></p>
		</div>
	</li>
</template>

<template name="guild-member">
	<li class="guild-member">
		<a href="javascript:void(0);" class="name" data-ljs-l="details">{{name}}</a>
		<div class="details">
			<div class="attributes">
				<div class="attr">
					<img src="/res/svg/pow.svg" /><br>
					<span>{{pow}} / {{max_pow}} ({{bonuses.pow}})</span>
				</div>
				<div class="attr">
					<img src="/res/svg/dex.svg" /><br>
					<span>{{dex}} / {{max_dex}} ({{bonuses.dex}})</span>
				</div>
				<div class="attr">
					<img src="/res/svg/knw.svg" /><br>
					<span>{{knw}} / {{max_knw}} ({{bonuses.knw}})</span>
				</div>
				<div class="attr">
					<img src="/res/svg/san.svg" /><br>
					<span>{{san}} / {{max_san}} ({{bonuses.san}})</span>
				</div>
				<div class="attr">
					<img src="/res/svg/vit.svg" /><br>
					<span>{{vit}} / {{max_vit}}</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="description">
				<img src="/res/svg/history.svg" />
				<p>{{description}}</p>
			</div>
			<div class="goal">
				<img src="/res/svg/goal.svg" />
				<p>{{goal}}</p>
			</div>
			<div class="fear">
				<img src="/res/svg/fear.svg" />
				<p>{{fear}}</p>
			</div>
		</div>
	</li>
</template>

<template name="offer-guild-member">
	<li>
		<a href="javascript:void(0);" data-ljs-l="give">{{name}}</a>
	</li>
</template>

<!-- inside npcGroup modal -->
<template name="npc-group-list-item">
	<li>
		<a href="javascript:void(0);" data-ljs-l="add">{{title}}</a>
	</li>
</template>

<!-- inside <ul> npc-groups -->
<template name="npc-group">
	<li class="npc-group">
		<div>
			<a href="javascript:void(0);" data-ljs-l="details" class="name">{{title}}</a>
			<input type="text" name="title" class="npc-name" />
			<div class="actions">
				<a href="javacript:void(0);" data-ljs-l="details"><i class="fa fa-arrow-up"></i></a>
			</div>
		</div>
		<!-- <textarea name="description" class="size10"></textarea> -->
		<ul class="npc-group-npcs">
			{{npc-group_npc in npcs}}
		</ul>
	</li>
</template>

<template name="npc-group_npc">
	<li class="npc-group_npc">
		<div class="name">{{name}}</div>
		<div class="actions">
			<a href="javascript:void(0);" data-ljs-l="removeNpc" class="c-grey"><i class="fa fa-times"></i></a>
		</div>
		<div class="attributes">
			{{attribute-npc in attributes}}
		</div>
		<div class="health">
			<input type="range" min="0" max="{{attributes.4.max}}" name="attributes.4.value" class="size10" data-ljs-l="npcHealth"/>
		</div>
	</li>
</template>

<!-- inside <ul> npcs -->
<template name="npc">
	<li>
		<a href="javascript:void(0);" class="name" data-ljs-l="details">{{name}}</a>
		<div class="actions">
			<a href="javascript:void(0);" data-ljs-l="edit"><i class="fa fa-pencil"></i></a>
		</div>
	
		<div class="attributes">
			{{attribute-npc in attributes}}
		</div>
		<!-- <div class="clear"></div> -->
		<div class="description">{{description}}</div>
	</li>
</template>

<!-- inside character sidebar -->
<template name="attribute">
	<a href="javascript:void(0);" data-ljs-l="choose" class="attribute">
		<img ljs-src="/res/svg/{{attr}}.svg" width="20" />
		<br>
		<span class="value">{{value}}</span>
		<!-- <span class="max">/ {{max}}</span> -->
		<span class="bonus">({{bonus}})</span>
	</a>
</template>

<!-- inside npc tab -->
<template name="attribute-npc">
	<span class="attribute">
		<img ljs-src="/res/svg/{{attr}}.svg" width="20" />
		<br>
		<span class="value">{{value}}</span>
	</span>
</template>

<!-- inside guild list -->
<template name="attribute-vanilla">
	<img ljs-src="/res/svg/{{attr}}.svg" width="20" />
	<br>
	<span class="value">{{value}}</span>
	<span class="max">/ {{max}}</span>
	<span class="bonus">({{bonus}})</span>
</template>

<template name="item">
	<li>
		<a href="javascript:void(0);" class="name" data-ljs-l="details">
			<span class="group"><img ljs-src="/res/svg/group{{item_group}}.svg" width="20" /></span>
			<span>{{name}}</span>
		</a>
		<span class="amount-value">{{amount}}</span>
		<div class="actions">
			<span class="amount">
				<a href="javascript:void(0);" class="" data-ljs-l="raise-amount">&#x25B2;</a>
				<a href="javascript:void(0);" class="" data-ljs-l="lower-amount">&#x25BC;</a>
			</span>
			<a href="javascript:void(0);" data-ljs-l="edit"><i class="fa fa-pencil"></i></a>
		</div>
		<div class="clear"></div>
		<div class="details">
			<div class="attribute-values">
				<span class="attribute-value">
					<img ljs-src="/res/svg/{{attributes.0.attr}}.svg" width="20" />
					<span class="value">{{attributes.0.value}}</span>
				</span>
				
				<span class="attribute-value">
					<img ljs-src="/res/svg/{{attributes.1.attr}}.svg" width="20" />
					<span class="value">{{attributes.1.value}}</span>
				</span>
				
				<span class="attribute-value">
					<img ljs-src="/res/svg/{{attributes.2.attr}}.svg" width="20" />
					<span class="value">{{attributes.2.value}}</span>
				</span>
				
				<span class="attribute-value">
					<img ljs-src="/res/svg/{{attributes.3.attr}}.svg" width="20" />
					<span class="value">{{attributes.3.value}}</span>
				</span>

				<span class="attribute-value">
					<img src="/res/svg/coin.svg"></img>
					<span class="value">{{price}}</span>
				</span>
				<div class="clear"></div>
			</div>
			<p>{{text_value}}</p>
			<p><em>{{description}}</em></p>
		</div>
	</li>
</template>

<template name="talent">
	<li>
		<a href="javascript:void(0);" class="name" data-ljs-l="details">{{name}}</a>
		<div class="actions">
			<a href="javascript:void(0);" class="mastered hidden" data-ljs-l="master">&#9734;</a>
			<a href="javascript:void(0);" data-ljs-l="edit"><i class="fa fa-pencil"></i></a>
		</div>
		<div class="clear"></div>
		<div class="details">
			<em>{{description}}</em>
		</div>
	</li>
</template>

<template name="skill">
	<li>
		<a href="javascript:void(0);" class="name" data-ljs-l="details"><span class="difficulty">{{difficulty}}</span><span>{{name}}</span></a>
		<div class="actions">
			<a href="javascript:void(0);" data-ljs-l="edit"><i class="fa fa-pencil"></i></a>
		</div>
		<div class="clear"></div>
		<div class="details">
			<em>{{description}}</em>
		</div>
	</li>
</template>

<template name="item-attribute">
	<div class="attribute">
		<a href="javascript:void(0);" data-ljs-l="choose">
			<img ljs-src="/res/svg/{{attr}}.svg" width="20" />
			<span>{{value}}</span>
		</a>
	</div>
</template>