<footer>
	<div class="footer-pull">Jocho &copy <?= date('Y', time()); ?></div>
	<div class="footer-content">
		<a href="#fb">Facebook</a>
		<a href="#gb">Google+</a>
		<a href="#tw">Twitter</a>
	</div>
</footer>