<? if (count($infoList)): ?>
	<div class="infobar">
		<? foreach ($infoList as $info): ?>
			<div class="infobar-alert <?= $info->class; ?>"><?= $info->get('message'); ?></div>
		<? endforeach ?>
	</div>
<? endif ?>