<nav id="menu">
	<ul>
		<li id="menu-show"><a href="#menu"><i class="fa fa-bars"></i></a></li>
		<li id="menu-hide"><a href="#"><i class="fa fa-bars"></i></a></li>
		<li><a href="/">Domov</a></li>
		<? if (count($this->router->path) && $this->router->path[0] != 'rules'): ?>
			<li><a href="#about-game">O hre</a></li>
			<li><a href="#about-author">O autorovi</a></li>
		<? else: ?>
			<li><a href="/#about-game">O hre</a></li>
			<li><a href="/#about-author">O autorovi</a></li>
		<? endif; ?>
		<li><a href="/rules">Pravidlá</a></li>
		<li>
			<? if (!$signedIn): ?>
				<a href="#signin">Prihlás ma</a>
			<? else: ?>
				<a href="/player">Vstúp</a>
			<? endif ?>
		</li>
	</ul>
</nav>