<ul class="pager tac">
	<? if ($page > 1): ?>
		<li><a href="?page=<?php echo $page-1; ?>">&#9664;</a></li>
	<? endif ?>
	<? foreach ($shownPages as $pageItem): ?>
		<? if (is_numeric($pageItem)): ?>
			<li><a href="?page=<?php echo $pageItem; ?>" <? if ($page == $pageItem): ?>class="active"<? endif ?>><?php echo $pageItem; ?></a></li>
		<?php else: ?>
			<li><a href="#">&hellip;</a></li>
		<? endif ?>
	<? endforeach ?>
	<? if ($page < $totalPages): ?>
		<li><a href="?page=<?php echo $page+1; ?>">&#9654;</a></li>
	<? endif ?>
</ul>