<form action="" method="post" class="tac">
	<input type="text" name="keywords" value="<?= $keywords; ?>" placeholder="Type text for search" class="size5" />
	<input type="submit" class="button <?= ($searchActive) ? 'b-blue' : ''; ?>" name="search" value="Search" />
	<input type="submit" class="button" name="clearSearch" value="&times" />
</form>
